@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Charm:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rozha+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;400&family=Open+Sans:ital,wght@1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@1,300&family=Roboto:ital,wght@0,100;1,100&display=swap');
*{
    text-decoration: none;
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
}
:root{
    --main-color-titles:#B11E5B;
    --color-background:#ff006a;
    --border-hover:.2rem dashed var(--main-color-titles);

}
.header {
    background-color: var(--main-color-titles);
    color: #fff; 
    padding: 20px; 
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    border-radius: 20px;
    display: flex;
    margin:15px;
    }

.header a {
    color: white;
    font-size: 20px;
    transition: color 0.3s ease;
    letter-spacing: 2px; 
}
.header a:hover {
    border-bottom:4px solid white;
    font-family: 'Merriweather Sans', sans-serif;
}

.header .logo {
    font-family: "Open Sans", sans-serif;
    font-size: 30px;
    font-weight: bold;
    color: white;
    margin-left: 20px; /* Added spacing between links */
    transition: border 0.3s ease; /* Smooth color transition on hover */
    letter-spacing: 1px; /* Ajusta el espaciado entre las letras */
}

.header .logo:hover {
    font-family: 'Charm', cursive;
    border-bottom:4px solid white;

}




  #home{
    background-color: #76cc14;
    }
  #about{
    background-color: aliceblue;
  }
  #menu{
    background: rgb(255,206,236);
  }
  #service{
    background: rgb(254, 205, 165);
  }
  #contact{
    background: aliceblue;
  }

#home{
    background-color: rgb(255, 255, 255);
    min-height: 100vh;
    display: flex;

}

section{
    display: flex;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
    color: #2c2b47;
    font-size: 70px;
    margin:1px;
}

.content-left{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: left ;
    justify-content: right ;
    gap:1.5rem;
    padding:1rem;
}

.content-left h1{
    font-size: 5rem;
    font-weight: bold;
    font-family: 'Open Sans';
    color:   var(--main-color-titles);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}
.content-left p {
    font-size: 2.5rem;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    font-family: 'Open Sans', sans-serif;
}
.content-right {
    width: 50%;
    display: grid;
    place-items: center;
}

.content-right img {
    height: 50rem;
    width: 44rem;
    border-radius: 40px;
    box-shadow: rgba(248, 146, 146, 0.8) 0 10px 33px;
}

#about {
    min-height: 100vh;
    display: flex;
}
.content2-right{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: right;
    gap: 1.5rem;
}
.content2-right img {
    height: 18rem;
    width: 38rem;
    display:right;
    border-radius: 3%;
    box-shadow: 0 4px 8px rgba(150, 17, 17, 0.1);
}
.content2-left {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: right;
    gap: 1.5rem;
    padding:0.5rem;
}

.content2-left h1 {
    font-family: 'Nanum Gothic', sans-serif;
    font-size: 4rem;
    color: rgb(11, 11, 114);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.content2-left p {
    font-family: 'Open Sans', sans-serif;
    color: rgb(168, 93, 168);
    font-size: 2rem;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.custom-list {
    font-family: 'Nanum Gothic', sans-serif;
    list-style: none;
    padding: 2rem;
    color:#2c2b47;
}

.custom-list li {
    margin-left: 1.5rem;
    font-family: 'Nanum Gothic', sans-serif;
    font-size:2rem;
    position: relative;
    color:#2c2b47;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.custom-list li:before {
    content: "•";
    color: #2e2d4d;
    font-size: 1.5rem;
    position: absolute;
    left: -1.5rem;
    top: 0.4rem;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.077);
    font-family: 'Nanum Gothic', sans-serif;
}


.menu{
    min-height: 100vh;
    display: flex;

}

html, body {
    margin: 0px;
    padding: 0px;
    background: url("http://digital.bnint.com/filelib/s9/photos/white_wood_4500x3000_lo_res.jpg");
}

.carousel {
    position: relative;
    box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.64);
    margin-top: 26px;
    max-width: 100%; 
    overflow: hidden;
}

.carousel-inner {
    position: relative;
    overflow: hidden;
    width: 100%;
}

.carousel-open:checked + .carousel-item {
    position: static;
    opacity: 100;
}

.carousel-item {
    position: absolute;
    opacity: 0;
    -webkit-transition: opacity 0.6s ease-out;
    transition: opacity 0.6s ease-out;
}

.carousel-item img {
    display: block;
    height: auto;
    max-width: 100%;
}
.carousel-item h1{
    font-family: sans-serif;
    color: darkmagenta;
    font-size: 3rem;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    padding-left: 30%;
    
}


.carousel-control {
    background: rgba(0, 0, 0, 0.28);
    border-radius: 50%;
    color: #fff;
    cursor: pointer;
    display: none;
    font-size: 40px;
    height: 40px;
    line-height: 35px;
    position: absolute;
    top: 50%;
    -webkit-transform: translate(0, -50%);
    cursor: pointer;
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    text-align: center;
    width: 40px;
    z-index: 10;
}

.carousel-control.prev {
    left: 2%;
}

.carousel-control.next {
    right: 2%;
}

.carousel-control:hover {
    background: rgba(0, 0, 0, 0.8);
    color: #aaaaaa;
}

#carousel-1:checked ~ .control-1,
#carousel-2:checked ~ .control-2,
#carousel-3:checked ~ .control-3,
#carousel-4:checked ~ .control-4 {
    display: block;
}

.carousel-indicators {
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    bottom: 2%;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 10;
}

.carousel-indicators li {
    display: inline-block;
    margin: 0 5px;
}

.carousel-bullet {
    color: #fff;
    cursor: pointer;
    display: block;
    font-size: 35px;
}

.carousel-bullet:hover {
    color: #aaaaaa;
}

#carousel-1:checked ~ .control-1 ~ .carousel-indicators li:nth-child(1) .carousel-bullet,
#carousel-2:checked ~ .control-2 ~ .carousel-indicators li:nth-child(2) .carousel-bullet,
#carousel-3:checked ~ .control-3 ~ .carousel-indicators li:nth-child(3) .carousel-bullet,
#carousel-4:checked ~ .control-3 ~ .carousel-indicators li:nth-child(4) .carousel-bullet {
    color: #428bca;
}

#service{
    background-color: aliceblue;
    min-height: 100vh;
    display: flex;

}
.content_leftservice{
    width: 50%;
    display: grid;
    flex-direction: column;
    justify-content: right;
    gap: 1.5rem;
    font-size: 2rem;
    font-family: 'Open Sans', sans-serif;
    padding-left: 2%;

}
.content_leftservice p {
    font-size: 2rem;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    font-family: 'Open Sans', sans-serif;
    color:#2e2d4d;
    }

.content_rightservice{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: right;
    gap: 1.5rem;

}
 .content_rightservice.img {
    height: 12rem;
    padding-left: 4rem;
    padding-right:3rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#contact{
    background-color: aliceblue;
}



#title {
    width: 100%;
    position: absolute;
    padding: 0px;
    margin: 0px auto;
    text-align: center;
    font-size: 27px;
    color: rgba(255, 255, 255, 1);
    font-family: 'Open Sans', sans-serif;
    z-index: 9999;
    text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.33), -1px 0px 2px rgba(255, 255, 255, 0);
}


 .box-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Two equal-width columns */
    gap: 1.5rem;
}
.box-container .box {
    padding: 1rem; /* Add padding to the boxes */
    background-color: rgba(255, 255, 255, 0.1); /* Add background color for better visibility */
}

.box-container .box .content4-left,
.box-container .box .content4-center,
.box-container .box .content4-right
{
    padding: 1rem 0; /* Adjust padding as needed */
}

 .box-container .box h3 {
    font-size: 2.5rem;
    padding: 1rem 0;
    color: rgb(168, 93, 168);
}

 .box-container .box a {
    display: block;
    font-size: 1.5rem;
    padding: 1rem 0;
    color: darkblue;
}
.box-container .box a i {
    padding-right: 0.5rem;
}
 .box-container .box a:hover i {
    padding-right: 2rem;
}


 .credit {
    text-align: left;
    font-size: 2rem;
    font-weight: bold;
    padding: 2rem 0; /* Adjust padding to center vertically */
    margin-top: 1rem;
    color: var(--main-color-titles);
    font-family: 'Nanum Gothic', sans-serif;
}

/*TABLET MEDIA QUERY*/
@media (max-width: 768px) {
    .header {
        margin: 15px; 
    }
    
    .header .logo {
        font-size: 24px; /* Reducir el tamaño del logo para dispositivos móviles */
    }
    .content-left .h1{
        font-size: 2.5rem;
     }
    .content-left p {
        font-size: 2rem;
    }
   .content-right img {
        height: 17rem;
        padding-right:1rem;
    }
    .content2-left h1 {
        font-size: 2rem;
    }
    
    .content2-left p {
        font-size: 1.5rem;
       
    }
    .content2-right img{
       
        height: 14rem;
    width: 21rem;
    border-radius: 12%;
    box-shadow: 0 4px 8px rgba(150, 17, 17, 0.1);
}


    .content_leftservice p {
        font-size: 1.5rem;
    }
    .content_leftservice{
           
            font-size: 2rem;
    }    
    
    section{
        width:97vw;
    }
    
    .box-container .box a,h3 {
        
        font-size: 1rem;
        
    }
    .credit {
        text-align: left;
        font-size: 1.5rem;
    }
}

@media (max-width: 430px){
    .header {
        margin:0.2px;
        border-radius: 5px;
    }
    .header .logo {
        font-size: 20px; /* Reducir el tamaño del logo para dispositivos móviles */
    }
    .header  a{
        font-size: 14px; /* Reducir el tamaño del logo para dispositivos móviles */
    }
    .content-left h1{
        font-size:2rem;
    }
    .content-left p{
        font-size:1.5rem;
    }
    .content-right img{
        height:12rem;
        width:13rem;
    }
    section{
        width: 100vw;
        margin:1px;
    }
    .content2-left h1{
     font-size:1.5rem;
    }
    .content2-left p{
        font-size:1.5rem;
    }
    .content2-left li{
        font-size:1.5rem;
    }
    .content2-right img{
        width:12rem;
        height:20rem;
        box-shadow:poi;
        margin:1%;
    }
    .carousel-bullet{
        padding:7%;
    }
    .content_leftservice h1{
        font-size:2rem;
    }
    .content-leftservice p{
        font-size:1rem;
    }
    .content_rightservice.img{
        width:10rem;
    }
    .content4-left h3{
        font-size:1rem;
    }
    .credit{
        font-size:1rem;
    }
}
